.wrap {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pic {
	width: 301px;
	height: 236px;
	background: url('../../img/main/menu/dish-4.png') no-repeat;
	background-size: cover;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		width: 301px;
		height: 36px;
		background: url('../../img/main/menu/dish-4.png') no-repeat;
		background-size: cover;
		filter: sepia(80%);
		opacity: 0;
	}
	&:hover::before {
		opacity: 0.8;
		filter: blur(2px);
		animation: glitch 2s linear infinite ;
	}
}
@keyframes glitch {
	0%{
		top:0;
		background-position: -30px 0;

	}
	20%{
		top:80px;
		background-position: 0px -80px;

	}
	40%{
		top:160px;
		background-position: 30px -160px;

	}
	50%{
		top:200px;
		background-position: 0px -200px;

	}
	60%{
		top:160px;
		background-position: 30px -160px;

	}
	80%{
		top:80px;
		background-position: 0px -80px;

	}
	100%{
		top:0;
		background-position: -30px 0;

	}
}
